 <!DOCTYPE html>
<html lang="en">
<head>
    
    <div class="tophead" style="background-color: black">
            <h4>Goa Motors</h4>
            <h1 >Database Management System</h1>
        </div>
 </head>
    <link rel="stylesheet" type="text/css" href="stylesheets/styler.css">


<body style="background-image:linear-gradient(#000428,#004e92)">
  
        <div class="options">
        	<div class="zoom">
            <h1>Customer Services</h1>
             <h3>  <a onclick="window.location.href='/addcustomer' ">Add customer</a> </h3><br>
             <h3>  <a onclick="window.location.href='/dummy' ">Get Customer Details</a></h3><br>
             <h3>  <a onclick="window.location.href='/deletecustomer' ">Delete customer</a> </h3><br>
             <h3>  <a onclick="window.location.href='/dummyinput' ">Search for Customer</a></h3>
           </div>
      
          <div class="zoom">
            <h1> Vehicle Services</h1>
            <h3><a onclick="window.location.href='/addvehicle' ">Add Vehicle</a></h3><br>
            <h3><a onclick="window.location.href='/checkinventory' ">Check Stock of Vehicles</a></h3><br>
            <h3> <a onclick="window.location.href='/vehicledummyinput' ">Search for Vehicle by id</a><h3><br><h3> <a onclick="window.location.href='/saleinput' ">Make Vehicle Sale</a><h3>
          </div>

           <div class="zoom">
            <h1> Salesperson Services</h1>
            <!-- <h3><a onclick="window.location.href='/addsperson' ">Add Salesperson</a></h3><br> --> 
            <h3><a onclick="window.location.href='/viewsperson' ">Check Salespeople employed</a></h3><br>
            <h3> <a onclick="window.location.href='/deletesperson' ">Delete a Salesperson</a><h3><br>   <h3><a onclick="window.location.href='/view92' ">Check Customers associated with a salesperson </a><h3>
             <!-- <br><h3> <a onclick="window.location.href='/salechecker' ">Record of sales by Salesperson</a><h3> -->
          </div>
      
    </div>
    <footer class="footer">
        <p style="font-size: 20px" >&copy; 2019 Goa Motors LLP</p>
  <p>Contact information:
  <a href="mailto:goamotors@gmail.com">
 <br> Email: goamotors@gmail.com</a>
    <br><a href="tel:6481234674">
              Mobile:+91 6481234674 </a> </p>
    </footer>
</body>
</html>
